<div id="cy" class="row cy">
    <div id="global-hud-top"></div>
    <div id="global-hud-bottom"></div>
</div>
<div id="legend" class="white_content">
<input type="button" value="X" id="closelegend" class='close'>
<h1>Things you will encounter in the galaxy:</h1>
</br>
<ul>
<li><img src = "/images/yellow.png" /><h1>Follower</h1></li>
<li><img src = "/images/green.png" /><h1>Mutual</h1></li>
<li><img src = "/images/blue.png" /><h1>Followed</h1></li>
</ul>
</div>
<div id="jigonsaseh" class="white_content">
<input type='button' value='X' id='closejigonsaseh' class='close'>
<div id="jigonsaseh-data"></div>
</div>
<div id="fade" class="black_overlay">

</div>



