<center>
<img src = "/images/banner.png" />
<br><div>
Banner created by @renzoarg

<h1>Welcome!</h1>

<form role="form" action="/login" method="post">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign in</button>
</form>
<form role="form" action="/signup" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign up</button>
</form>
</center>
</div>