<center>
<img src = "/images/banner.png" />
<br><div>
Banner created by @renzoarg

<h1>Welcome!</h1>
<% if (req.session.me) { %>
<a href="/logout">Logout</a>
<% } else { %>
<a href="/login">Login</a> or <br> <a href="/signup">Signup</a> to get started.
<% } %>
</center>
</div>