<!DOCTYPE html>
<html>
  <head>
    <title>SteemStars!</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/underscore.js"></script>
    <script src="/js/dependencies/cytoscape.js"></script>
    <script src="/js/dependencies/cytoscape-qtip.js"></script>
    <script src="/js/dependencies/backbone.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/cytoscape-cxtmenu.js"></script>
    <script src="/js/dependencies/foreach.js"></script>
    <script src="/js/dependencies/steem.min.js"></script>
    <script src="/js/dependencies/steemconnect.min.js"></script>
    <script src="/js/dependencies/three.js"></script>
    <script src="/js/application.js"></script>
    <script src="/js/testing.js"></script>
    <script src="/js/userinterface.js"></script>
    <!--SCRIPTS END-->
  </head>
  
<div id = "AppMenu">
      <center>
  
<a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
<% if (!req.user) {%>
| 
<form role="form" id='login' action="/login" method="post">
<input type="email" name="email" placeholder="Email">
<input type="password" name="password" placeholder="Password">
<button type="submit">Sign in</button>
</form>
<%}%>

<% if (req.user) {%>
|
<a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>|
<a href="/permission/galaxy"><i class="fa fa-gamepad" aria-hidden="true"></i></a>|
<a href="/testing"><i class="fa fa-comments" aria-hidden="true"></i></i></a>|
<a href="/permission/profile"><i class="fa fa-user-md" aria-hidden="true"></i></a>
<%}%>

</center>
    </div>
    
    <body>
    <%- body %>
  </body>
</html>
