<h1 id="main-title">Hi <%= req.user.username %>,</h1>
 
<p>You've successfully logged in.</p>
<a class="btn" href="/logout">Logout</a>
 
<h2>User Model</h2>
<table class="table">
  <% for(key in req.user.toJSON() ) { if (req.user.hasOwnProperty(key)) { %>
  <tr>
    <td><%= key %>:</td>
    <td class="boxy"><%= req.user[key] %></td>
  </tr>
  <% }} %>
<script>
steem.api.getAccounts([to_string(req.user.username)], function(err, result) {
    console.log(err, result);
});
</script>

</table>