<center>
<h1 id="main-title">Hi <%= req.user.username %>,</h1>
 
<p>You've successfully logged in.</p>

 
<h2>User Model</h2>
<table class="table">
  <% for(key in req.user.toJSON() ) { if (req.user.hasOwnProperty(key)) { %>
  <tr>
    <td><%= key %>:</td>
    <td class="boxy"><%= req.user[key] %></td>
  </tr>
  <% }} %>
  <div id="content"></div>

<script>

function hndlr(result) {
      for (var i = 0; i < result.items.length; i++) {
        var item = result.items[i];
        // in production code, item.htmlTitle should have the HTML entities escaped.
        document.getElementById("content").innerHTML += "<br>" + item.name;
      }
      
    }
    var username = '<%= req.user.username %>';
    steem.api.getAccounts([(username)], function(err, result) {
    $.each(result, function(key, value){
    $.each(value, function(key, value){
      document.getElementById("content").innerHTML += "<br>" + key + " : " + value ;
        //console.log(key, value);
    });
  });
});
    
</script>

</table>

</center>