<center>
    <h1>Planet</h1>
<form role="form" action="/planet" method="post">
  <input type="name" name="name" placeholder="Planet Name">
  <input type="cartesian_coordinates" name="cartesian_coordinates" placeholder="cartesian_coordinates">
  <input type="owner" name="owner" placeholder="Owner _id">
  <button type="submit">Post</button>
</form>
    <h1>Game</h1>
<form role="form" action="/Game" method="post">
  <input type="name" name="name" placeholder="Game Name">
  <input type="_id" name="_id" placeholder="_id">
  
  <button type="submit">Post</button>
</form>

<h1>Edge</h1>
<form role="form" action="/Edge" method="post">
  <input type="point_a" name="point_a" placeholder="Point A">
  <input type="point_b" name="point_b" placeholder="Point B">
  <input type="owner" name="owner" placeholder="Owner _id">
  
  <button type="submit">Post</button>
</form>

<h1>Ideal</h1>
<form role="form" action="/Ideal" method="post">
  
  <input type="userid" name="userid" placeholder="UserID">
  <input type="location"name="location" placeholder="locationid">
  <input type="amount" name="amount" placeholder="Amount">
  
  <button type="submit">Post</button>
</form>

  <div id="game-view">
</div>

<head>
<title>Socket notification</title>
</head>
<body>

<div id="status">
</div>

<div id="commentBox">
<input type = "text" id = "name" size = "40" placeholder="Your name - put shahid"><br><br>
<textarea cols = "38" rows = "10" id = "comment" placeholder="Add your comment"></textarea><br><br>
<input type = "button" id = "addComment" value = "Comment"><br>
<span id = "message"></span>
</div>


</center>